.menubar {
  background: #3c444c;
  /* color: #818181; */
  color: #bdbdbd;
  padding: 5px 10px;
  font-family: "Comic Sans MS";
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
}

.menubar svg {
  font-size: 20px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  padding-right: 2px;
  background-color: #262b30;
  overflow-x: hidden;
  padding-top: 70px;
  font-weight: bold;
  font-family: "Comic Sans MS";
  box-shadow: -3px 0 5px 0 #555;
  -moz-box-shadow: -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidenav a div {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidenav a img {
  height: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

.logout {
  bottom: 0;
  margin-bottom: 10px;
  position: fixed;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a svg {
  margin-right: 5px;
  color: inherit;
}

.selected {
  background: gray !important;
  color: white !important;
  border-top-left-radius: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 5px;
}

.content {
  margin-left: 160px;
  margin-top: 50px;
  padding: 0 1rem;
  font-family: "Comic Sans MS";
}

/* <============== news dashboard ==============> */

.addNewsBtn {
  border: none;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  outline: 0;
  font-family: "Comic Sans MS";
}

.tableSection {
  margin-top: 1rem;
  border-radius: 15px;
  /* border: 1px solid #3c444c; */
}

.tableSection table {
  border-collapse: collapse;
  width: 100%;
}

.tableSection td,
.tableSection th {
  /* border: 1px solid gray; */
  text-align: left;
  /* padding: 8px; */
}

.tableSection thead {
  background-color: #3c444c;
  color: white;
}

.tableSection thead th {
  padding: 10px 5px;
}

.tableSection th:first-child {
  border-radius: 10px 0 0 0;
}

.tableSection th:last-child {
  border-radius: 0 10px 0 0;
}

.tableSection td:last-child,
.tableSection th:last-child {
  text-align: center;
}

.tableSection td:last-child {
  font-size: 20px;
}

.tableSection td:last-child svg:first-child {
  color: #008000;
  margin-right: 10px;
}

.tableSection td:last-child svg:last-child {
  color: #b30000;
}

.tableSection tr:nth-child(even) {
  background-color: #dddddd;
}

/* .tableSection tbody tr {
  background-color: #808080;
} */

.tableSection tbody tr:hover {
  background-color: #b1b1b1;
}
